{% extends 'base.html.twig' %}

{% block page_title %}Pages Vertes | Crédits{% endblock %}

{% block page_content %}
    <h1 class="onglet">Crédits</h1>

    <a href="https://storyset.com/people">People illustrations by Storyset</a>
    <a href="https://www.flaticon.com/fr/icones-gratuites/bouclier" title="bouclier icônes">Bouclier icônes créées par Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/fr/icones-gratuites/creer-un-profil" title="créer un profil icônes">Créer un profil icônes créées par Vectorsclub - Flaticon</a>
{% endblock %}
