
/**
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------- STYLE GLOBAL -----------------------------------------------------------
 */

.creditList {

    a {
        color: black;
        display: block;
        margin-bottom: 1rem;
        transition: color 0.3s;
        &:hover {
            color: var(--vert);
        }
    }

}


/**
------------------------------------------------------------------------------------------------------------------------
----------------------------------------------- DARK MODE --------------------------------------------------------------
 */


.dark {

    a {
        color: white;
    }

}