.wrapTop {
    margin-bottom: 20px;
    img {
        width: auto;
        height: 200px;
    }
}

form > div:not(.wrapSwitch, .wrapSubmit) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

    p {
        font-size: 0.6em;
        margin: 0;
        padding-bottom: 40px;
        padding-top: 5px;
    }

}


/**
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- CHAMPS TEXTES -------------------------------------------------------
 */


.inputbox {
    padding-top: 20px;
    position: relative;
    margin: 0;
    width: 360px;
    border-bottom: 2px solid var(--vert);
    padding-right: 20px;
    transition: 0.5s;

    img {
        display: none;
        padding-left: 10px;
        width: 25px;
        padding-top: 10px;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
    }

}


.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox .input:focus ~ label, .inputbox .input:not(:placeholder-shown) ~ label {
    top: 0;
}

.inputbox .input:not(:valid) ~ .error {
    display: block;
}

.inputbox .input:valid ~ .success {
    display: block;
}

.inputbox .input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}


/**
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- SWITCH --------------------------------------------------------------
 */

.wrapSwitch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 10px;
}

.switch {
    --s: 20px;
    height: calc(var(--s) + var(--s) / 5);
    width: auto;
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s) / 2);
    display: grid;
    cursor: pointer;
    background-color: #ff7a7a;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.switch:before {
    content: "";
    padding: calc(var(--s) / 10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s) / 2) 50%, #000 96%, #0000);
    background: var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
    #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s) / 12)) contrast(11);
    transition: .4s, background-position .4s .1s,
    padding cubic-bezier(0, calc(var(--_i, -1) * 200), 1, calc(var(--_i, -1) * 200)) .25s .1s;
}

.switch:checked {
    background-color: var(--vert);
}

.switch:checked:before {
    padding: calc(var(--s) / 10 + .05px) calc(var(--s) / 10);
    --_p: 100%;
    --_i: 1;
}


/**
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- SUBMIT --------------------------------------------------------------
 */

.wrapSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-bottom: 30px;
}


.submit {
    width: 150px;
    height: 40px;
    background: var(--vert);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 15px;
}

.submit:hover {
    background-color: #555555;
}


/**
------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- DARK MODE -----------------------------------------------------------
 */

.dark {

    .inputbox label {
        color: white;
    }

    .inputbox .input {
        color: white;
    }
}


/**
------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------- RESPONSIVE --------------------------------------------------------
 */

@media (max-width: 600px) {

    form > div {
        justify-content: center!important;
        align-items: center!important;
        align-content: center;
        padding-right: 5px;
    }

    .inputbox {
        width: 90%;
    }

    .wrapSwitch {
        padding-left: 0;
    }

    .wrapSubmit {
        padding-top: 50px;
    }

    .submit {
        width: 50%;
    }
    
}
